<body>
<div class="page login-page">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">
        <div class="col-lg-6">
          <div class="info d-flex align-items-center">
            <div class="content">
              <div class="logo">
                <h1>欢迎注册</h1>
              </div>
              <p>项目式学习平台(PBL)学生系统</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 bg-white">
          <div class="form d-flex align-items-center">
            <div class="content">
              <form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="form-validate" id="loginFrom">
                <small>不是学生用户?</small><a class="signup" routerLink="/auth/teacher/login">&nbsp;转至教师用户登录</a><a class="signup" routerLink="/auth/admin/login">&nbsp;转至管理员登录</a>
                <div class="form-group">
                  <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                    <input id="login-userid" type="text" formControlName="userId" name="userId" placeholder="请输入账号" class="input-material">
                    <ng-template #userErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        用户id不能为空
                      </ng-container>
                      <ng-container *ngIf="control.hasError('maxLength')">
                        用户Id长度不能超过20
                      </ng-container>
                      <ng-container *ngIf="control.hasError('minLength')">
                        用户Id长度不能小于6
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">
                        用户Id只能包含数字，字母，下划线
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </div>
                <div class="form-group">
                  <nz-form-control nzHasFeedback [nzErrorTip]="nameErrorTpl">
                    <input id="login-username" type="text" formControlName="username" name="username" placeholder="请输入姓名" class="input-material">
                    <ng-template #nameErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        用户id不能为空
                      </ng-container>
                      <ng-container *ngIf="control.hasError('maxLength')">
                        用户姓名长度不能超过6
                      </ng-container>
                      <ng-container *ngIf="control.hasError('minLength')">
                        用户姓名长度不能小于2
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </div>
                <div class="form-group">
                  <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                    <input id="login-password" type="password" formControlName="password" placeholder="请输入密码" class="input-material" (ngModelChange)="validateConfirmPassword()"/>
                    <ng-template #passwordErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        用户密码不能为空
                      </ng-container>
                      <ng-container *ngIf="control.hasError('maxLength')">
                        用户密码长度不能超过20
                      </ng-container>
                      <ng-container *ngIf="control.hasError('minLength')">
                        用户密码长度不能小于6
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </div>
                <div class="form-group">
                  <nz-form-control nzHasFeedback [nzErrorTip]="confirmErrorTpl">
                    <input id="login-confirm" type="password" formControlName="confirm" placeholder="再次输入确认密码" class="input-material"/>
                    <ng-template #confirmErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        用户密码不能为空
                      </ng-container>
                      <ng-container *ngIf="control.hasError('confirm')">
                        两个用户密码不相同
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </div>
                <div class="form-group">
                  <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
                    <input id="login-email" formControlName="email" placeholder="请输入邮箱" type="email" class="input-material"/>
                    <ng-template #emailErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('email')">
                        请填写正确的邮箱
                      </ng-container>
                      <ng-container *ngIf="control.hasError('required')">
                        邮箱不能为空
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </div>
                <button id="login" type="submit" class="btn btn-primary">注册</button>
              </form>
              <br />
              <small>已有账号?</small><a class="signup" routerLink="/auth/student/login">&nbsp;登录账号</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
