<nz-breadcrumb>
  <nz-breadcrumb-item>设置</nz-breadcrumb-item>
  <nz-breadcrumb-item>修改密码</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="inner-content">
  <h3>修改</h3>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>旧密码</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="oldErrorTpl">
        <input nz-input formControlName="oldpassword" placeholder="输入您的新名字" />
        <ng-template #oldErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            用户密码不能为空
          </ng-container>
          <ng-container *ngIf="control.hasError('maxLength')">
            用户密码长度不能超过20
          </ng-container>
          <ng-container *ngIf="control.hasError('minLength')">
            用户密码长度不能小于6
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>新密码</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
        <input nz-input id="login-password" type="password" formControlName="password" placeholder="请输入密码" class="input-material" (ngModelChange)="validateConfirmPassword()"/>
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            用户密码不能为空
          </ng-container>
          <ng-container *ngIf="control.hasError('maxLength')">
            用户密码长度不能超过20
          </ng-container>
          <ng-container *ngIf="control.hasError('minLength')">
            用户密码长度不能小于6
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>再次输入确认密码</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="confirmErrorTpl">
        <input nz-input id="login-confirm" type="password" formControlName="confirm" placeholder="再次输入确认密码" class="input-material"/>
        <ng-template #confirmErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            用户密码不能为空
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            两个用户密码不相同
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">修改</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
