<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fudan.edu.pbl.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="fudan.edu.pbl.entity.User">
        <id column="userID" property="userID" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="school" property="school" />
        <result column="department" property="department" />
        <result column="imgID" property="imgID" />
        <result column="role" property="role" />
    </resultMap>

    <insert id="test" >
        <selectKey keyProperty="courseID" resultType="int" order="BEFORE">
            select count(courseID) as courseID from course_user cu where cu.courseID = #{courseID} and cu.userID = #{userID}
        </selectKey>

        <if test="courseID == 0">
            insert into course_user values(#{courseID},#{userID})
        </if>
    </insert>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userID, userName, password, email, phone, school, department, imgID, role
    </sql>

</mapper>
