<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fudan.edu.pbl.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="fudan.edu.pbl.entity.User">
        <id column="userID" property="userID" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="school" property="school" />
        <result column="department" property="department" />
        <result column="imgID" property="imgID" />
        <result column="role" property="role" />
    </resultMap>

    <insert id="test" >
        <selectKey keyProperty="courseID" resultType="int" order="BEFORE">
            select count(courseID) as courseID from course_user cu where cu.courseID = #{courseID} and cu.userID = #{userID}
        </selectKey>

        <if test="courseID == 0">
            insert into course_user values(#{courseID},#{userID})
        </if>
    </insert>

    <resultMap id="Map1" type="fudan.edu.pbl.entity.User" autoMapping="true">
        <id column="userID" property="userID"/>
        <!--association:完成子对象的映射-->
        <!--property:子对象在父对象中的属性名-->
        <!--javaType:子对象的java类型-->
        <!--autoMapping:完成子对象的自动映射，若开启驼峰，则按驼峰匹配-->
        <collection property="courseList" javaType="List" ofType="fudan.edu.pbl.entity.Course" autoMapping="true">
            <id column="courseID" property="courseID"/>
        </collection>
    </resultMap>

    <select id="getByIdWithProperties" resultMap="Map1">
        select * from user u left join course_user cu on u.userID=cu.userID left join course c on cu.courseID = c.courseID where u.userID = #{id}
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userID, userName, password, email, phone, school, department, imgID, role
    </sql>

</mapper>
